.App {
  text-align: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

footer{
  bottom: 0;
}

nav{
  top:0;
}

.desc{
  color: lightgray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.num{
  background-color: #151514;
}

.btnproj:hover{
  color: white;
}


.reveal{
  transform: translateY(150px);
  opacity: 0;
  transition: all 0.5s ease;
}

.reveal.active{
  
  transform: translateY(0px);
  opacity: 1;
}
.reveal{
  transform: translateY(150px);
  opacity: 0;
  transition: all 0.5s ease;
}

.reveal.active{
  
  transform: translateY(0px);
  opacity: 1;
}
.reveal{
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

.modal{
  z-index: 3;
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bgbash{
  background: linear-gradient(0.25turn, rgb(71, 201, 245), rgb(235, 112, 112), rgb(99, 238, 99), rgb(230, 230, 123));;
}